<mat-toolbar color="green">Logged in successfully</mat-toolbar>
<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <img *ngIf="userDetails.photoURL" src="{{userDetails.photoURL}}" alt="Profile Picture" mat-card-avatar>
      <mat-card-title *ngIf="userDetails.displayName">{{userDetails.displayName}}</mat-card-title>
      <mat-card-subtitle>{{userDetails?.email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider *ngIf="userDetails"></mat-divider>

    <mat-card-actions align="end">
      <button mat-button (click)="signOutUser()">Logout</button>
    </mat-card-actions>
  </mat-card>
</div>