<div fxLayout="row" fxLayoutAlign="center center" class="login-container">
  <mat-card>
    <mat-card-title>Login to Healthy Paisa</mat-card-title>
    <mat-card-subtitle>Enter email and password to login below</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
      <form fxLayout="column" [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <mat-error class="main-error" *ngIf="authFailError">{{authFailError}}</mat-error>
        <mat-form-field appearance="outline">
          <mat-icon matSuffix>person</mat-icon>
          <mat-label for="email">Email ID</mat-label>
          <input matInput 
            name="loginForm"
            type="email" 
            formControlName="email"
            required>
            <mat-error *ngIf="email.invalid && email.errors.email">Invalid email</mat-error>
            <mat-error *ngIf="email.invalid && email.errors.required">Please enter an email address</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-icon matSuffix>lock</mat-icon>
          <mat-label for="password">Password</mat-label>
          <input matInput 
            name="password"
            type="password"
            formControlName="password" 
            required>
            <mat-error *ngIf="password.invalid && password.errors.required">Please enter a password</mat-error>
            <mat-error *ngIf="password.invalid && password.errors.minlength">Required password is minimum of 8 characters</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
      </form>
    </mat-card-content>
    <mat-divider></mat-divider>
    <div class="login-option" fxLayout="column" >
      <button mat-raised-button color="warn" (click)="loginWithGoogle()">Login with Google</button>
    </div>
    <mat-card-footer>
      <!-- <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar> -->
    </mat-card-footer>
  </mat-card>
</div>
