.login-container {
  min-height: 100vh;

  form {
    padding: 1.5em 0 1em;
    position: relative;

    > *:not(button) {
      margin-bottom: 0.3em;
    }

    .main-error {
      max-width: 260px;
      text-align: center;
      margin-bottom: 0.6em;
      margin-top: -0.5em;
      line-height: 1.6em;
    }
  }

  .login-option {
    padding: 1.5em 0;
  }
}